*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border:1px solid black;
}

div{
    margin-top: 5px;
    margin-bottom: 5px;
}

.clearfix::after{
    content: '';
    display:table;
    clear:both;
}
  /* header */
.container{
    width:75%;
    /* height:900px; */
    margin:auto;
    background-color:aquamarine;
}

header{
    width:100%;
    height:auto;
    /* background-color: blueviolet; */
}

.dimensioni_logo{
    background-size: cover;
    width:100px;
    height:40px;
    margin-bottom: 10px;
}

.logo{
    width:100%;
    height:30%;;
    
}

a{
    text-transform: uppercase;
    text-decoration: none;
    color:grey;
    margin-right: 5px;
}
.nav_color, .testo_grigio{
    color:gray;
}


.banner_principale{
    /* height: 70%;
    width:100%; */
    height: 400px;
    width:718px;
    position:relative;  
     
}


.dimensione_banner{
    height:400px;
    width:100%;
}
 .posizione_testo_banner{
    width: 70%;
    position:absolute;
    text-align: justify;
    bottom: 5%;
    left:2%;
    color:gray;
}

/* .testo_banner{
    position: absolute;
    bottom: 20%;
    left:100px;
    transform: translate(-50%, -50%);
}  */




/* /header */

/* contenuto */
.title{
    width:100;
    margin-top:10px;
    margin-bottom: 10px;
}


.contenuto{
    height:100%;
    margin-top:10px;
}

.left_sidebar{
    background-color: green;
    float:left;
}

.img_left_sidebar{
    width:100%;
    height:150px;
}

.img_right_sidebar{
    width:100%;
    height:150px;
    background-size: cover;
}


.right_sidebar{
    background-color: rgb(51, 79, 170);
    float:right;
}

.left_sidebar, .right_sidebar{
    width:25%;
    height:400px;
}

.contenuto_principale{
    padding:0 10px 10px 10px;
    box-sizing: border-box;
    width:50%;
    background-color: lightpink;
    height:100%;
    float:left;
}

.banner_2{
    width:100%;
    height:150px;
}


.main-banner{
    background-image: url(./img/banner-2.jpg);
    background-size:cover;
    width: 100%;
    height: 150px;
    margin-top:0;
}
/* /contenuto */


footer{
    line-height: normal;
    text-align: center;
    width:100%;
    background-color: coral;
}

